<section id="join-collaboration" class="container join-collaboration margin-bottom-60">
    <h2>Join a Collaboration</h2>
    <div class="row">
        <div class="eclipsefdn-weighted-working-groups" data-wrapper-class="col-sm-8" data-count="3"></div>
        <div class="col-xs-24 join-collaboration-button-col">
            <a class="btn btn-primary join-collaboration-button" href="/org/workinggroups/explore.php" tabindex="0">View All</a>
        </div>
    </div>
</section>
