{{/*
  Copyright (c) 2023 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
*/}}

{{ $type := .Get "type" }}
{{ $team_members := index .Site.Data.security.team $type }}
{{ $data := .Site.Data.security.team }}

<section class="row">
  {{ if eq (len $team_members) 0 }}
    <div class="col-xs-24">
      <p>No {{ $type }} members to display at this time.</p>
    </div>
  {{ else }}
    {{ range $team_members }} 
      {{ $eclipse_username := "" }}
      {{ range .links }}
        {{ if eq .type "eclipse" }}
          {{ $eclipse_username = .text }}
        {{ end }}
      {{ end }}

      <div class="media clearfix">
        <div class="col-xs-5 col-sm-4">
          <a href="https://www.eclipse.org/user/{{ $eclipse_username }}">
            <img 
              class="img-thumbnail img-responsive margin-top-20" 
              src="{{ .image }}"
              alt="{{ .name }}" 
            />
          </a>
        </div>
        <div class="col-xs-19 col-sm-20">
          <div class="media-body">
            <a href="/user/{{ $eclipse_username }}">
              <h3 id="{{ $eclipse_username }}">
                  {{ .name }}
                  <i class="fa fa-link" aria-hidden="true"></i>
              </h3>
            </a>
            <dl>
              {{ range .links }}
                {{ $type := index $data.link_types .type }}
                <dt>
                  <a href="{{ .url }}">
                    <i class="{{ $type.icon }}" aria-hidden="true"></i>
                    {{ .text }}{{ $type.postfix }}
                  </a>
                </dt>
              {{ end }}
            </dl>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
</section>
